Repository apache/cordova-plugin-inappbrowser, pull requests merged in 2020-03, with the labels that each got.

#648 [android] Correcting the documentation regarding lefttoright option information
  README.md
Labels: platform: android

#442 fix(android): Reset lefttoright if not set
  src/android/InAppBrowser.java
Labels: bug, platform: android

#654 [GH-652] add check for openInSystem postNotification
  src/ios/CDVWKInAppBrowser.m
Labels: platform: ios
